html{
	background-color: #000000;
	color: white;
	font-family: 'IBM Plex Mono', monospace;
	line-height: 1.75;
}

body{
		margin: 16px;
}

.logo {
padding-top:16px;
padding-bottom:16px;
}

.stream {
  margin: 0 auto;
	max-width: 1080px;
	position: relative;
	display: flex;
flex-direction: column;
align-items: center;
}

.about{
	padding-top:16px;
	padding-bottom:16px;
	margin: 0 auto;
text-align: center;
}

a {
color: #D8C37B;
}

a:hover{
	color:#B08D12;
}

section{
	padding-top: 24px;
}

.twitch {
	margin: 0 auto;
	max-width: 800px;
}

.twitch .twitch-video {
  padding-top: 56%;
  position: relative;
  height: 0;
}

.twitch .twitch-video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.social {
	font-size: 32px;
}

p {
	font-size: 18px;
}

footer{
	padding-top: 48px;
	font-size: 10px;
}

@media screen and (min-width: 850px) {
  .twitch {
    position: relative;
  }

  .twitch .twitch-video {
    width: 100%;
    padding-top: 56%;
  }
}
